/* FLEX REUSABLE STYLES */

/* Turns the flex direction to column */
.flex-dir-col {
    flex-direction: column;
}

/* Turns the flex direction to row */
.flex-dir-row {
    flex-direction: row;
}
/* Aligns flex items to center vertically and horizontally */
.flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Aligns flex items to start horizontally and center vertically */
.flex-s-c {
    display: flex;
    justify-content: start;
    align-items: center;
}
.flex-c-s {
    display: flex;
    justify-content: center;
    align-items: start;
}
.flex-s-s {
    display: flex;
    justify-content: start;
    align-items: start;
}