.search-area {
    background-color: blanchedalmond;

    width: 40vw;
    height: 100vh;
}

.search-area button {
    padding: 10px 10px 10px 10px;

    background-color: white;

    width: 15vw;
    height: 10vh;

    border: none;
    border-radius: 10px;

    font-size: 1.6vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    transition: box-shadow 0.2s ease-in-out;
}

.search-area button:hover {
    box-shadow: 0px 0px 80px 1px rgb(255, 221, 154);
}

.address-container, .distance-container {
    width: 100%;

    margin-bottom: 8vh;
}

.address-container h1, .distance-container h1 {
    font-size: 2.5vw;
    font-family:'Courier New', Courier, monospace;

    text-align: center;

    margin-bottom: 2.5vh
}

.address-container input, .distance-container input {
    padding-left: 5px;
    padding-right: 5px;

    border: none;
    border-radius: 10px;

    box-shadow: none;

    height: 5vh;
    width: 50%;

    font-size: 3vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    transition: box-shadow 0.2s ease-in-out;
}

.address-container input:focus, .distance-container input:focus {
    border: none;
    outline: none;

    box-shadow: 0px 0px 80px 1px rgb(255, 221, 154);
}

.address-container input:focus, .distance-container input:focus {
    border: none;
    outline: none;

    box-shadow: 0px 0px 80px 1px rgb(255, 221, 154);
}

.address-container input::placeholder {
    font-size: 75%;
}

.address-container input::placeholder, .distance-container input::placeholder {
    font-style: italic;
    color: rgb(143, 143, 143);
}



.loading-container {
    z-index: 100;

    display: flex;
    justify-content: end;

    width: 100vw;

    position: absolute;
}

.loading-screen {
    width: 60vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(28, 28, 28, 0.99);

    z-index: 100;
}

/* Manually  animates the loading wheel so it spins*/
.loading-wheel {
    animation: rotating 2s linear infinite;
}
@keyframes rotating {
    to {
      transform: rotate(360deg);
    }
}