/* Styles for the Map.jsx component */

.map-area {
    width: 60vw;
    height: 100vh;
}

.map-area h1 {
    font-size: 100px;
}

@media only screen and (max-wdth: 750px) {
    .map-area {
        width: 100vw;
    }
}