/* Styles for the Map.jsx component */

.map-area {
    width: 60vw;
    height: 100vh;

    padding: 0;
    margin: 0;
}

.map-area h1 {
    font-size: 100px;
}

/* If screen width is less than 750px, then it will update styling */
@media only screen and (max-width: 750px) {
    .map-area {
        width: 100vw;
        height: 90vh;
    }
}

.H_ui .H_ib {
    width: 3vw;
}