/* Styles for the Map.jsx component */

.map-area {
    width: 60vw;
    height: 100vh;

    padding: 0;
    margin: 0;
}

.map-area h1 {
    font-size: 100px;
}

/* If screen width is less than 750px, then it will update styling */
@media only screen and (max-width: 750px) {
    .map-area {
        width: 100vw;
        height: 90vh;
    }
}

/* Following styles are to style the info bubble */
.H_ui .H_ib_body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding-top: 2vh;

    width: 15vw;
    height: 20vh;

    font-size: 4vw;

    background-color: white;
    
    border-radius: 10px;
}

.H_ui .H_ib_close {
    display: flex;
    justify-content: end;

    width: 12vw;

    margin-bottom: 3vh;
}

.H_ui .H_ib_close svg {
    width: 2vw;
}